Cheetah==2.4.4
Flask==0.10.1
Flask-Admin==1.4.0
Flask-RESTful==0.3.5
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.1
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.10
SQLAlchemy==1.0.12
WTForms==2.1
Werkzeug==0.11.7
aniso8601==1.1.0
argparse==1.2.1
colorama==0.2.5
configobj==4.7.2
html5lib==0.999
itsdangerous==0.24
suds==0.4
Flask-Cors==2.1.2